$accordion-icon-size: 1rem;
$accordion-icon-spacing: 0.5rem;
$accordion-indentation: $accordion-icon-size + $accordion-icon-spacing;

$border-color: currentColor;
$border-style: solid;
$border-thickness: 0.1rem;
$border-width: $accordion-indentation;
$border-height: 1rem;

.accordion {
  display: block;
  position: relative;

  &__details {
    margin-left: $accordion-indentation;
  }

  &__summary {
    display: list-item;
    position: relative;
    padding-left: $accordion-indentation;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__details > & > &__summary {
    &::before {
      content: '';
      position: absolute;

      top: -$accordion-icon-size / 2;
      left: -($border-width + $border-thickness / 2 - $accordion-icon-spacing);
      width: $border-width;
      height: $border-height;

      border-color: $border-color;
      border-radius: 0 0 0 calc(2 * $border-thickness);
      border-style: $border-style;
      border-width: 0 0 $border-thickness $border-thickness;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    cursor: pointer;
  }

  &[open] > &__summary > &__icon {
    transform: rotate(90deg);
  }
}
